<div class="accordion" id="eventsAccordion">
    {%- include 'accordion-events.liquid', id:'englandAndWales' eventsData:bankHolidays['england-and-wales'].events eventTitle:'England and Wales' -%}
    {%- include 'accordion-events.liquid', id:'scotland' eventsData:bankHolidays['scotland'].events eventTitle:'Scotland' -%}
    {%- include 'accordion-events.liquid', id:'northernIreland' eventsData:bankHolidays['northern-ireland'].events eventTitle:'Northern Ireland' -%}
</div>
